<div class="indexItemCard">
    <div class="itemName">
        <%= item.item_name %>
    </div>
    <div class="categoriesContainer">
        <p>Categories:</p>
        <div class="categoriesDiv">
            <% if (item.categories_array) { %>
                <% item.categories_array.map((category) => { %>
                    <div><%=category%></div>
                <% }) %>
            <% } %>
        </div>
    </div>
    <div>
        <a class="itemDetails" href=<%= `/items/${item.id}` %> >Details</a>
    </div>
</div>