<html>
  <body>
    <ul>
    <% if (categories) { %>
      <% categories.map((category) => { %>
          <li><a href=<%= `/categories/${category.id}` %> ><%= category.category_name %> </a> </li>
      <% }) %>
    <% } %>
    </ul>
  </body>
</html>