<html>
  <body>
    <ul>
    <% items.map((item) => { %>
        <li>name: <%= item.item_name %> categories: <%=item.categories_array %>  <a href=<%= `/items/${item.id}` %> >Details</a> </li>
    <% }) %>
    </ul>
    <a href="/categories" >Categories</a>
  </body>
</html>